{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Project Night City</a>
            <a class="nav-link text-white" href="{% url 'skills' %}">Skills</a>
        </div>
    </nav>

    <section class="intro container">
        <h1 class="intro-title">Galang, Carlos Angelo M.</h1>
        <p class="intro-text">
            I am a student learning web development using Django, HTML, CSS, Bootstrap, GitHub, and VS Code.
        </p>

        <a class="intro-button" href="{% url 'skills' %}">View My Skills</a>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>